//Khai báo màu 

//color
$primary: rgb(115, 103, 240);
$warning: rgb(240, 151, 67);
$primary-button: rgba(115, 103, 240, .7);
$primary-progress: rgba(115, 103, 240, .12);

//text
$text-main: rgb(208, 210, 214);
$text-second: rgb(110, 107, 123);

//background color
$background-color-hoverTable: rgba(0,0,0,.075);
$background-color-main: rgb(22, 29, 49);
$background-color-second: rgb(40, 48, 70);
$background-color-primary: rgba(115,103,240,.12);