//Khai báo màu 

//color
$primary: rgb(115, 103, 240);

//text
$text-main: rgb(208, 210, 214);
$text-second: rgb(110, 107, 123);

//background color
$background-color-primary: rgba(115,103,240,.12);
$background-color-main: rgb(22, 29, 49);
$background-color-second: rgb(40, 48, 70);