@import 'color';


.container-checkbox{
  /* Customize the label (the container) */
  display: flex;
  .container {
      display: block;
      position: relative;
      padding: 0 0 0 2.1875rem;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 1rem;
      color: $text-main;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.285rem;
      width: 1.285rem;
  
      border: 1px solid $text-second;
      border-radius: 0.2rem;
      background-color: $background-color-second;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: $primary;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 6px;
      top: 3px;
      width: 6px;
      height: 10px;
  
      background-image: linear-gradient(118deg, $primary,$primary-button);
      box-shadow: 0 0 10px 1px $primary-button;
      
      border: solid white;
      border-width: 0 2px 2px 0;
      border-bottom-right-radius: 0.1rem;
      // border-bottom-left-radius: 0.1rem;
  
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(40deg);
    }
}
