@import 'color';

.forgotPassword {
    min-height: 100vh;

    .forgotPassword-image {
        background-color: $background-color-main;
        padding: 3.5rem;


        #logo-forgotPassword:hover {
            text-decoration: none;
        }

        .w-100 {
            align-items: center;
            justify-content: center;

            padding: 0 3.5rem;
        }
    }

    .forgotPassword-welcome-form {
        align-items: center;
        padding: 3.5rem;
        background-color: $background-color-second;

        .forgotPassword-welcome {
            padding: 1.3125rem;

            h2 {
                font-size: 1.5rem;
                color: $text-main;
                margin-bottom: 0.875rem;
            }

            p:nth-child(2) {
                color: $text-second;
                margin-bottom: 1.3125rem;
            }

            .forgotPasswordFalse {
                color: $warning;
                margin-bottom: 1.3125rem;
            }

            .forgotPasswordSuccess {
                color: $primary;
                margin-bottom: 1.3125rem;
            }

            .forgotPassword-form {
                width: 100%;

                .btn-forgotPassword {
                    margin-top: 1.3125rem;
                    background-color: $primary;

                    &:focus {
                        box-shadow: none;
                        border-color: none;
                    }
                }

                .btn-forgotPassword:hover {
                    box-shadow: 0 8px 25px -8px $primary;
                }

                div:nth-child(3) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                        .btn-outline-primary {
                            display: flex;
                            align-items: center;
                            margin-top: 0.875rem;
                            color: $primary;
                            border-color: $background-color-second;

                            svg {
                                color: $primary;
                            }
                        }
            
                        .btn-outline-primary:hover {
                            text-decoration: none;
                            background-color: $background-color-second;
                        }
            
                        .btn-outline-primary:focus {
                            box-shadow:none;
                        }
                }
            }


        }

        .d-sm-flex {
            height: 100%;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .col-md-6 {
            margin: 0 auto;
        }

    }
    .col-sm-12 {
        padding: 0 1.3125rem;

        .d-sm-flex {
            padding: 0 0.875rem;
        }
    }
}