.forgotPassword {
    min-height: 100vh;

    .forgotPassword-image {
        background-color: rgb(22, 29, 49);
        padding: 3.5rem;


        #logo-forgotPassword:hover {
            text-decoration: none;
        }

        .w-100 {
            align-items: center;
            justify-content: center;

            padding: 0 3.5rem;
        }
    }

    .forgotPassword-welcome-form {
        align-items: center;
        padding: 3.5rem;
        background-color: rgb(40, 48, 70);

        .forgotPassword-welcome {
            padding: 1.3125rem;

            h2 {
                font-size: 1.5rem;
                color: rgb(208, 210, 214);
                margin-bottom: 0.875rem;
            }

            p:nth-child(2) {
                color: rgb(110, 107, 123);
                margin-bottom: 1.3125rem;
            }

            .forgotPassword-form {
                width: 100%;

                .btn-forgotPassword {
                    margin-top: 1.3125rem;
                    background-color: rgb(115, 103, 240);
                }

                .btn-forgotPassword:hover {
                    box-shadow: 0 8px 25px -8px rgb(115, 103, 240);
                }

                div:nth-child(3) {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                        .btn-outline-primary {
                            margin-top: 0.875rem;
                            color: rgb(115, 103, 240);
                            border-color: rgb(40, 48, 70);
                        }
            
                        .btn-outline-primary:hover {
                            background-color: rgb(40, 48, 70);
                        }
            
                        .btn-outline-primary:focus {
                            box-shadow:none;
                        }
                }
            }


        }

        .d-sm-flex {
            height: 100%;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .col-md-6 {
            margin: 0 auto;
        }

    }
    .col-sm-12 {
        padding: 0 1.3125rem;

        .d-sm-flex {
            padding: 0 0.875rem;
        }
    }
}