@import 'color';

.wrapper {
    height: 100vh;

    //navigation
    .main-menu {
        align-items: center;
        background-color: $background-color-second;
        //list group
        .list-group {
            width: 100%;
        }
    }

    .content {
        padding: 5.0375rem 1.75rem 0;
        background-color: $background-color-main;
    }
}