@import 'color';

.wrapper {
    height: 100vh;

    //navigation
    .main-menu {
        align-items: center;
        background-color: $background-color-second;
        //list group
        .list-group {
            width: 100%;
        }
    }

    .content {
        padding: 5.0375rem 1.75rem 0;
        background-color: $background-color-main;

        .content-meal-items {
            height: 100%;
            width: 100%;
            margin: 0;
            padding-top: 1.75rem;
            padding-bottom: 1.75rem;

            .col-md-6:nth-child(1) {
                padding: 0 1.75rem 0 0;
                //Bảng bữa ăn trong ngày
                .meal-table {
                    height: 100%;
                    border-radius: 0.428rem;

                    background-color: $background-color-second;

                    .table {
                        color: $text-main;
                        max-height: 100%;

                        tr:hover {
                            color: $primary;

                            a {
                                background-color: $background-color-hoverTable;
                                svg {
                                    color: $primary;
                                }
                            }
                        }

                        th {
                            font-size: 0.75rem;
                            font-weight: 700;
                        }

                        td {
                            font-size: 0.815rem;
                            font-weight: 400;
                        }
                    }
                }
            }


            .col-md-6:nth-child(2) {
                padding: 0 0 0 1.75rem;
                background-color: $background-color-main;
                .search-chart-item {
                    height: 100%;
                    width: 100%;
                    margin: 0;
    
                    .col:nth-child(1) {
                        height: 75%;
                        padding: 0 0 1.75rem 0;
                        div {
                            border-radius: 0.428rem;
                            height: 100%;
                            background-color: $background-color-second;
                        }
    
                    }
    
                    .col:nth-child(2) {
                        height: 25%;
                        padding: 1.75rem 0 0 0;
                        border-radius: 0.428rem;
    
                        background-color: $background-color-second;
                        div {

                            background-color: $background-color-second;
                        }
                    }
                }
            }

        }
    }
}