@import 'color';

.InputPassword {
    height: 3.810625rem;
    margin-bottom: 0.875rem;

    .InputPassword-label {
        height: 1.3125rem;

        font-size: 0.75rem;
        font-weight: 400;

        display: flex;
        justify-content: space-between;

        label {
            color: $text-main;
        }

        a {
            color: $primary;
            text-decoration: none;
        }
    }

    .input-group {
        display: inline-flex;
        width: 100%;

        input {
            height: 2.375rem;
            
            border-top-left-radius: 0.3125rem;
            border-bottom-left-radius: 0.3125rem;
            border: 0.0625rem solid $text-second;
            background-color: $background-color-second;
            
            font-size: 0.875rem;
            line-height: 2.375rem;
    
            padding-top: 0.38325rem;
            padding-bottom: 0.38325rem;
            padding-left: 0.875rem;
            padding-right: 0;
        }

        input:focus {
            border-color: $primary;
            box-shadow: none;
        }

        input:focus-visible {
            outline: none;
        }
    
        .input-group-append {
            display: inline-block;
    
            .btn {
                height: 2.375rem;
                width: 2.6875rem;
    
                cursor: pointer;
        
                border-left: 0;
                border: 0.0625rem solid $text-second;
                border-top-right-radius: 0.3125rem;
                border-bottom-right-radius: 0.3125rem;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color-second;
            }

            .btn:focus {
                box-shadow: none;
            }
        }
    }

    .input-group:focus-within .btn {
        border-color: $primary;
    }

}