@import 'color';

.list-group-item {
    display: flex;
    align-items: center;

    width: auto;
    border: 0;
    margin: 0 0.9375rem;
    padding: 0.625rem 0.9375rem;

    color: $text-main;
    background-color: $background-color-second;

    svg {
        font-size: 1.3125rem;
        margin-right: 0.9375rem;
    }
}

.list-group-item:hover {
    color: $text-main;
    background-color: $background-color-second;

    animation-name: moveRightItem;
    animation-duration: 0.4s;
    animation-fill-mode: forwards
}


@keyframes moveRightItem {
    0% {
        padding-left: 0.9375rem;
    }
    100% {
        padding-left: 1.5rem;
    }
}

.list-group-item.active {
    background-image: linear-gradient(118deg, $primary,$primary-button);
    box-shadow: 0 0 10px 1px $primary-button;
    border-radius: 0.25rem;

    color: #fff;
    background-color: $background-color-second;
}

.list-group-item+.list-group-item.active {
    margin-top: 0;
    border-top-width: 0;
}





