@import 'color';

#logo-login {
    display: flex;
    z-index: 1;
    align-items: flex-end;

    position: fixed;
    top: 1.1875rem;
    left: 1.1875rem;
    img {
        height: 4rem;
        width: 4rem;
    }
    h2 {
        color: $primary;
        display: inline-block;
        margin-bottom: 0.125rem;
    }
    &:hover {
        text-decoration: none;
    }

}
