#logo-login {
    display: flex;
    z-index: 1;
    align-items: flex-end;

    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
    img {
        height: 4rem;
        width: 4rem;
    }
    h2 {
        color: rgb(115, 103, 240);
        display: inline-block;
        margin-bottom: 0.125rem;
    }
}