@import 'color';

.mealTable {
    color: $text-main;
    max-height: 100%;

    tr:hover {
        color: #fff!important;
        td {
            .dropdown {

                button.dropdown-toggle {
                    svg.BsThreeDotsVertical {
                        background-color: $background-color-hoverTable;
                        color: #fff;
                    }
                }
            }
        }

        td {
            label {
                color: $text-main;
            }
        }
    }

    tr {
        td {
            .dropdown {
                button.dropdown-toggle {
                    font-size: 0.815rem;
                    svg {
                        height: 1.3125rem;
                        width: 1.3125rem;

                        color: $text-main;
                    }
                }
            }
        }
    }

    th {
        font-size: 0.75rem;
        font-weight: 700;
    }

    td {
        font-size: 0.815rem;
        font-weight: 400;
    }
}