@import 'color';

.content-meal-items {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;

    .col-md-6:nth-child(1) {
        padding: 0 1.75rem 0 0;
        //Bảng bữa ăn trong ngày
        .meal-table {
            height: 75%;
            border-radius: 0.428rem;
            padding: 0 0 1.75rem 0;
        }

        .calendar-meal {
            height: 25%;
            border-radius: 0.428rem;
            
            .col {
                border-radius: 0.428rem;
                .progress-meal {
                    display: grid;
                    height: 100%;
                    padding: 0 0.75rem 0 0.75rem;
                    border-radius: 0.428rem;

                    background-color: $background-color-second;
                }

                .calendaritem {
                    height: 100%;
                    background-color: $background-color-second;
                    border-radius: 0.428rem;
                }
            }
        }
    }


    .col-md-6:nth-child(2) {
        padding: 0 0 0 1.75rem;
        background-color: $background-color-main;
        .search-chart-item {
            height: 100%;
            width: 100%;
            margin: 0;

            .col:nth-child(1) {
                height: 75%;
                padding: 0 0 1.75rem 0;
            }

            .col:nth-child(2) {
                height: 25%;
                border-radius: 0.428rem;
                padding: 1.75rem 0.75rem 0 0.75rem;

                background-color: $background-color-second;
                div {

                    background-color: $background-color-second;
                }
            }
        }
    }

}