@import 'color';

.signIn {
    min-height: 100vh;

    .signIn-image {
        background-color: $background-color-main;
        padding: 3.5rem;


        #logo-signIn:hover {
            text-decoration: none;
        }

        .w-100 {
            align-items: center;
            justify-content: center;

            padding: 0 3.5rem;
        }
    }

    .signIn-welcome-form {
        align-items: center;
        padding: 3.5rem;
        background-color: $background-color-second;

        .signIn-welcome {
            padding: 1.3125rem;

            h2 {
                font-size: 1.5rem;
                color: $text-main;
                margin-bottom: 0.875rem;
            }

            p:nth-child(2) {
                color: $text-second;
                margin-bottom: 1.3125rem;
            }

            .signIn-form {
                width: 100%;
                // div:nth-child(3) {
                //     display: flex;
                //     align-items: center;
                //     margin-bottom: 0.875rem;

                //     input {
                //         height: 1.125rem;
                //         // width: 1.125rem;
                //     }

                //     label {
                //         color: $text-main;
                //         margin-left: 0.5rem;
                //         margin-bottom: 0;
                //     }
                // }

                .btn-signIn {
                    margin-top: 1.3125rem;
                    background-color: $primary;
                }

                .btn-signIn:hover {
                    box-shadow: 0 8px 25px -8px $primary;
                }
            }

            p:nth-child(4) {
                color: $text-second;
                text-align: center;
                margin-top: 1.3125rem;
                margin-bottom: 0.875rem;
                
                a {
                    color: $primary;
                }
            }
        }

        .d-sm-flex {
            height: 100%;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .col-md-6 {
            margin: 0 auto;
        }

    }
    .col-sm-12 {
        padding: 0 1.3125rem;

        .d-sm-flex {
            padding: 0 0.875rem;
        }
    }
}