@import 'color';

.searchFoodTable {
    color: $text-main;
    max-height: 100%;

    tr:hover {
        color: #fff!important;

        a {
            svg {
                color: #fff;
            }
        }

        td {
            label {
                color: $text-main;
            }
        }
    }

    th {
        font-size: 0.75rem;
        font-weight: 700;
    }

    td {
        position: relative;
        font-size: 0.815rem;
        font-weight: 400;

        .customFood {
            left: -4.9rem;

            animation-duration: 0.25s;
            animation-name: slideInForm1;

            @keyframes slideInForm1 {
                from {
                    top: 3rem;
                }
                to {
                    top: 2rem ;
                }
            }
        }
    }
}